#menu {
  padding-bottom: 29px;
  #menu-wrap {
    background: $primary-color;
    box-sizing: border-box;
    padding: 24px;
    position: relative;
    .food-topic {
      margin-bottom: 24px;
      li {
        display: inline-block;
      }
      a {
        color: $white;
        font-size: 12px;
        margin: 0 4px;
        position: relative;
        &:before {
          content: '';
          background: $main-accent-color;
          height: 1px;
          @include transition(600ms);
          @include transition-property(width);
          @include transform( translateX(-50%) );
          width: 0;
          position: absolute;
          bottom: 0;
          left: 50%;
        }
        &.active-item {
          &:before {
            content: '';
            background: $main-accent-color;
            height: 1px;
            @include transform( translateX(-50%) );
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
          }
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }//> .food-topic
  }
  #food-type-wrap {
    height: 232px;
    overflow: hidden;
    position: relative;
    .food-type {
      display: block;
      @include transition-duration(400ms);
      @include transition-property(transform, left);
      @include transform( translateY(-50%) );
      width: 100%;
      position: absolute;
      top: 50%;
      left: -100%;
      &.active-type {
        display: block;
        @include transform( translate(-50%, -50%) );
        @include transition-delay(200ms);
        @include transition-duration(300ms);
        @include transition-property(transform, left);
        will-change: transform;
        position: absolute;
        left: 50%;
      }
      ul {
        color: $white;
        padding: 12px 0;
        text-align: center;
        li {
          padding: 8px 0;
        }
        span {
          cursor: pointer;
          @include transition(600ms);
          @include transition-property(color);
          &:hover {
            color: $main-accent-color;
          }
          &.active {
            color: $main-accent-color;
          }
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    #menu-wrap,
    #description {
      padding: 24px 10px;
    }
    #food-type-wrap{
      height: 356px;
    }
    #description {
      box-sizing: border-box;
      height: 452px;
      overflow: hidden;
      position: relative;
      .description-img {
        height: 172px;
        width: 170px;
        @include transform( translateX(-50%) );
        position: absolute;
        left: 50%;
        top: 8%;
      }
      .item {
        box-sizing: border-box;
        display: block;
        text-align: center;
        @include transition-duration(400ms);
        @include transition-property(transform, right, color);
        width: 100%;
        position: absolute;
        top: 50%;
        right: -100%;
        &.active-description {
          display: block;
          @include transition-delay(200ms);
          @include transition-duration(300ms);
          @include transition-property(transform, right);
          will-change: transform;
          position: absolute;
          right: 0%;
        }
        h2 {
          font-size: 32px;
          padding: 0 12px;
        }
        p {
          font-family: $secondary-font;
          font-size: 16px;
          font-style: italic;
          line-height: 1.2;
          margin: 0 auto;
          width: 90%;
        }
        .price {
          display: block;
          font-size: 32px;
          margin-top: 12px;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    #menu-wrap {
      .food-topic {
        a {
          font-size: 15px;
          margin: 0 15px;
        }
      }
    }
    #description {
      .description-img {
        top: 4%;
      }
      .item {
        top: 45%;
        h2 {
          font-size: 36px;
        }
        p {
          width: 60%;
        }
      }
    }
  }
}
